In [7]:
print("this is a first notebook")
a = 47
b = 6.4
c = a+b
c #ipython structure(Jupyter Notebook) - explict printing values

this is a first notebook

53.4

In [8]:
2.2 * c

117.48

This is a testing **notebook** for <span style="color:red;font-size:16pt;">Python</span>

In [12]:
itemnb = 8

In [14]:
price = "34.2"

In [16]:
itemnb*float(price)

273.6

In [17]:
import numpy as np
import pandas as pd

In [18]:
#create a numpy array of random numbers
data = np.random.randint(10,100,size=(5,3))
data

In [19]:
#conversion to PAndas DataFrame
df = pd.DataFrame(data,columns=["Sales_q1","Sales_q2","Sales_q3"])
df

,Sales_q1,Sales_q2,Sales_q3
0,76,70,91
1,38,64,95
2,78,35,11
3,82,91,45
4,81,89,99

In [20]:
print(type(data))
print(type(df))

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

In [23]:
#pandas basic operations
print(f"average per quater:\n{df.mean()}")

average per quater:
Sales_q1    71.0
Sales_q2    69.8
Sales_q3    68.2
dtype: float64

In [25]:
print(f"\nTotal per row:\n{df.sum(axis=1)}")

Total per row:
0    237
1    197
2    124
3    218
4    269
dtype: int64

In [27]:
print("\nAdd a new column:")
df["Total"] = df.sum(axis=1)
df

Add a new column:

,Sales_q1,Sales_q2,Sales_q3,Total
0,76,70,91,474
1,38,64,95,394
2,78,35,11,248
3,82,91,45,436
4,81,89,99,538

In [29]:
print("\nSort by total sales:")
print(df.sort_values("Total",ascending=True))

Sort by total sales:
   Sales_q1  Sales_q2  Sales_q3  Total
2        78        35        11    248
1        38        64        95    394
3        82        91        45    436
0        76        70        91    474
4        81        89        99    538